.container-edit {
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }
  
  
.editbackground {

    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 25px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -37%);
    z-index: 0;
    box-sizing: border-box; /* เพิ่มบรรทัดนี้ */
}

.topadd-edit {
    color: #D0AB4A;
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-top: 47px;
    position: relative;
    z-index: 1;
    letter-spacing: 5px;
}

.editlist {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 120%;
}

.fname {
    font-size: 15px;
    font-family: "Poppins";


}
.lname {
    font-size: 15px;
    font-family: "Poppins";
    
}

input[type="text"],input[type="password"] {
    background-color: #FCF7E8;
    width: 67%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 22px;
    margin-left: 25px;
    margin-right: 1px;
  }

.gendate {
    display: flex;
    flex-direction: row;
    
}

.editgender {
    width: 67%;
    padding: 10px;
    background-color: #FCF7E8;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    margin-left: 25px;
    margin-right: 82px;
    margin-bottom: 22px;
}

.editdate {
    width: 67%;
    padding: 10px;
    background-color: #FCF7E8;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    margin-left: -58px;
    margin-right: -1px;
    margin-bottom: 22px;
}



.butsave {
    background-color: #ffffff;
    color: #63b946;
    border-color: #63b946;
    position: absolute;
    font-size:16px;
    font-weight: bold;
    padding: 10px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    top: 88.5%;
    left: 35%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.14);
    transition: all 0.4s ease-out;
  }

  .butsave:hover {
    background-color: #63b946;
    color: #ffffff;
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.14);
  }

  .butdelete {
    background-color: #ffffff;
    color: #c55151;
    border-color: #c55151;
    border: 4px solid #c55151;
    position: absolute;
    font-size:16px;
    font-weight: bold;
    padding: 10px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    top: 88.5%;
    left: 65%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.14);
    transition: all 0.4s ease-out;
  }

  .butdelete:hover {
    background-color: #c55151;
    color: #ffffff;
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.14);
  }

  .box {
    display: flex;
    flex-direction: column
  }