.container-emotion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
.second-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 65%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0px 30px;
  }

.top-emotion {
  color: #000000;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  font-size: 25px;
  font-weight: bolder;
  font-family: "Poppins";
  margin-top:20px;
  margin-bottom: 20px;

}
.space{
  width: 65%;
}
.butaddsound {
  width: 18%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 30px;
  background-color: #ffffff;
  color: #63b946;
  border-color: #63b946;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.14);
  transition: all 0.4s ease-out;
  font-size:16px;
  font-weight: bold;
  margin-right: 20px;
}
.butaddsound:hover {
  background-color: #63b946;
  color: #ffffff;
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.14);
}

.butlistemo {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 30px;
  background-color: #ffffff;
  color: #7F00FF;
  border-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.14);
  transition: all 0.4s ease-out;
  font-size:16px;
  font-weight: bold;
  margin-right: 20px;
}
.butlistemo:hover {
  background-color: #7F00FF;
  color: #ffffff;
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.14);
}

.list-emo button {
  
  height: 3rem;
  font-size:16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.14);
  transition: all 0.4s ease-out;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.list-emo {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list-emo li {
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  height: 3rem;
  /* transform: translateY(50%); */
}

.emoedit-button {
  background-color: #ffffff;
  padding-left: 29px;
  padding-right: 29px;
  color: #75A0E8;
  border-color: #75A0E8;
  margin-right: 10px;
  margin-left: 50px;
}
.emoedit-button:hover{
  color: #ffffff;
  background-color: #75A0E8;
}

.emodelete-button {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  color: #f44336;
  border-color: #f44336;
  margin-right: 10px;
}
.emodelete-button:hover {
  color: #ffffff;
  background-color: #da190b;
}

.box-list {
  width: 55%;
  transform: translateX(39%);
  padding: 30px 30px;
  background-color:  rgba(255, 255, 255, 0.479);
  border-radius: 20px;
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.14);
}

.list-emo liemo {
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.479);
  margin-right: 20px;
  margin-left: 20px;
}
