.box-login {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color:#FCF7E8;
  }

  .loginbackgroundd {
    background-color:white;
    width: 22%;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    padding-bottom: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    box-sizing: border-box; /* เพิ่มบรรทัดนี้ */
}
  
  /* .loginbox {
    border: 1px solid #ccc;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  } */
  
  .topic {
    color: #D0AB4A;
    font-family: 'Poppins';
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
    margin-top: 251px;
    position: relative;
    z-index: 1;
    letter-spacing: 5px;
}

  .wel {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: -5px;
    margin-left: 75px;
    margin-top: 50px;
    
  }

  .ltc {
    color: #000000;
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 75px;
  }
  
  .text,
  .password {
    display: inline-block;
    margin-bottom: 12px;
  }
  
  input[type="text"],
  input[type="password"] {
    background-color: #FCF7E8;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 38px;
    margin-right: -26px;
    
  }
  
  
  .butlog {
    background-color: #FAEDCB;
    position: absolute;
    font-size:16px;
    font-weight: bold;
    color: #564F3D;
    padding: 10px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.14);
    transition: all 0.4s ease-out;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  button:hover {
    background-color: #D0AB4A;
    border-color: #ffffff;
    color: #FAEDCB;
    box-shadow: 6px 5px 10px 4px rgba(0, 0, 0, 0.14);

  }
  
  p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  p a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }

  .userpass {
    left: 50%;
    margin-left: 51px;
    margin-bottom: 10px;
  }
 
  .dot1 {
    height:553px;
    width:767px;
    background-color: #ECD7A0;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -484px;
    top: -245px;
  }

  .dot1 {
    height:553px;
    width:767px;
    background-color: #ECD7A0;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -431px;
    top: -230px;
  }
  .dot2 {
    height:553px;
    width:767px;
    background-color: #ECD7A0;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 1565px;
    top: -276px;
  }
  .dot3 {
    height:553px;
    width:767px;
    background-color: #ECD7A0;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -403px;
    top: 639px;
  }
  .dot4 {
    height:553px;
    width:767px;
    background-color: #ECD7A0;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 1550px;
    top: 626px;
  }
  .box-dot {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color:#FCF7E8;
  }
  body {
    overflow: hidden;
  }