
  .header {
    background: #faedcb;
    height: 100px;
    padding: 0 1rem;
    transition: 0.3s ease all;
  } 
   .header--day-color {
    background: var(--day-color);
  }
  .header__content {
    font-weight: bold;
    overflow: hidden;
    color: #000000;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 20px;
  }
  
  .header__content__logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    text-shadow: 2px 2px 3px #7c7c7c;
    transition: 0.3s ease all;
  }
  .header__content__logo:hover {
    color: #ffffffff;
    text-shadow: 2px 2px 3px #353535;
  }
  
  .header__content__nav {
    top: 0;
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(rgb(250, 237, 203), 0.9);
    backdrop-filter: blur(3px);
    transform: translate(0);
    transition: 0.3s ease transform;
  }
  
  .header__content__nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
  
  .header__content__nav ul li {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .header__content__nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 0.75rem 1.25rem;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.7s ease all;
    border-radius: 15px;
  }
  
  .header__content__nav ul li a:hover {
    font-size: 22px;
    font-weight: bolder;
    color: #BC8D12;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-color: #000000bd;
    border-radius: 45px;
  }

  .home,.search,.manage,.report {
    padding:10px 20px;
    background-color: rgba(255, 255, 255, 0.479);
    transition: 0.3s all;
  }
  .home:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
  }
  
  
  .search:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
  }
  .manage:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
  }
  .report:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
  }
  .header__content__nav ul li active-home{
    font-size: 22px;
    font-weight: bolder;
    color: #BC8D12;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
  }





  .header__content__nav ul li a:active {
    border-radius: calc(12px + 6px);
    background: linear-gradient(rgba(#fff, 0.1), rgba(#fff, 0.2));
  }
  
  .header__content__nav .btn {
    font-weight: bold;
    cursor: pointer;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 12px;
    font-size: 1rem;
    font-family: inherit;
    background: #D0AB4A;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    transition: 0.3s ease all;
    margin: 0.50em 0.50em;
  }
  
  .header__content__nav .btn:hover {
    border-color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  .header__content__nav .btn:active {
    border-color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  .header__content__nav .btn__login {
    background-color: rgb(32, 32, 32);
    color: #fff;
    transition: 0.7s ease all;
    border-radius: 15px;
  }
  .btn__login:hover {
    font-size: 19px;
    border-radius: 45px;
  }
  
  @media (min-width: 48em) {
    .header {
      padding: 0 4%;
    }
  
    .header__content__nav {
      transform: none;
      flex-direction: row;
      background: transparent;
      width: auto;
      height: 100%;
      position: static;
    }
  
    .header__content__nav ul {
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;
      margin-right: calc(0.5rem + 16px);
      padding: 10px 10px;
    }
  
    .header__content__nav ul li {
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 16px;
      }
    }
  }
  
  .header__content__toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 2rem;
    transition: 0.3s ease all;
    position: relative;
  }
  
  .header__content__toggle:hover {
    color: rgb(162, 162, 246);
  }
  
  @media (min-width: 48em) {
    .header__content__toggle {
      display: none;
    }
  }  
  